
  body {
    width: 100%;
    max-width: 1400px;
   display: block;
    background: #FFF;
    justify-content: center;
    margin: 0px;
    padding: 0px;

    

  }

.header-navigation {
    width: 1400px;
    height: 88px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 32px 0px;
}
.header-navigation  li {
   
    display: inline-block;
   text-decoration: none;
    justify-content: center;
    margin-right: 72px;
    font-size: 18px;
    

}
a {
    text-decoration: none;
}
.imd {
    width: 100%;
    display: inline-block;
    width: 1400px;
height: 552px;
padding: 92px 400px ;
margin: 0 auto;

}
.blok{

    padding: 88px 0px;
    text-align: center;


}

h2 {
    color: #000;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
}


p {

    width: 856px;
    display: inline-block;
    max-width: 1400px;
    color: #161616;
font-size: 21px;
font-style: normal;
font-weight: 500;
text-align: justify;


}

.colortext {
color: #04959E;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;

}
ol {
    width: 856px;
    display: inline-block;
    max-width: 1400px;
    text-align: justify;
   

}
.btn {
    width: 144px;
    height: 44px;
    display: inline-block;
    background-color: #04959E;
    text-align: center;
    color: #FFF;
    border: none;
    margin: 10px 24px;
    padding: 10px;


    
}
.footer {
    display: block;
    color: #161616;

text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
padding: 16px 0px;

}